<div class="pro_main clearfix" style="background-color: #26354c;">
			<h2>单元测试执行报告：</h2>
			<table class="table table-bordered">
			  <thead>
			  	<th>执行用例数</th>
			  	<th style="color: #0ef634">成功数</th>
			  	<th>失败数</th>
			  	<th>阻塞数</th>
			  	<th style="color: #0ef634">成功率</th>
			  	<th>覆盖率</th>
			  	<th>执行时间</th>
			  	<th>执行标签号</th>
			  	<th>执行结果</th>
			  </thead>
			  <tbody>
			  	<tr>
			  		<td>100</td>
			  		<td>95</td>
			  		<td>5</td>
			  		<td>0</td>
			  		<td>95%</td>
			  		<td>96%</td>
			  		<td>20160121</td>
			  		<td>11040</td>
			  		<td>成功</td>
			  	</tr>
			  	<tr>
			  		<td>100</td>
			  		<td>88</td>
			  		<td>10</td>
			  		<td>2</td>
			  		<td>95%</td>
			  		<td>96%</td>
			  		<td>20160121</td>
			  		<td>11040</td>
			  		<td>成功</td>
			  	</tr>
			  	<tr>
			  		<td>100</td>
			  		<td>80</td>
			  		<td>10</td>
			  		<td>10</td>
			  		<td>85%</td>
			  		<td>96%</td>
			  		<td>20160121</td>
			  		<td>11040</td>
			  		<td>成功</td>
			  	</tr>
			  </tbody>
			</table>
</div>