
<div class="home-page" ng-init="initPage()">
      <div class="home-page-nav">
        <div><span>项目名称：</span><input type="text" style="color: black" ng-model="queryParams.projectName"></div>
        <div><span>项目经理：</span><input type="text" style="color: black" ng-model="queryParams.projectDirector"></div>
        <div><span>项目状态：</span>
        <div class="dropdown">
          <select class="btn btn-default dropdown-toggle btn-sm" style="width: 160px; height: 32px;" ng-model="queryParams.status"> 
            <option value="">全部</option>
            <option value="0">计划中</option> 
            <option value="1">进行中</option> 
            <option value="2">已结束</option> 
          </select>
        </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-sm" ng-click="query()">查询</button>
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
          添加
          </button>
        </div>
      </div>
      <table class="table table-bordered" id="project-table">
        <thead>
          <th style="text-align: center;">项目名称</th>
          <th style="text-align: center;">项目编号</th>
          <th style="text-align: center;">项目开始时间</th>
          <th style="text-align: center;">项目结束时间</th>
          <th style="text-align: center;">项目经理</th>
          <th style="text-align: center;">项目状态</th>
          <th style="text-align: center;">操作</th>
        </thead>
        <tbody>
          <tr bindonce ng-repeat="data in queryList">
            <td style="cursor: pointer;" data-toggle="modal" data-target="#detailModal" ng-click="checkDetail(data)">
              <a>{{data.projectName}}</a>
            </td>
            <td>{{data.projectCode}}</td>
            <td>{{data.startTime}}</td>
            <td>{{data.endTime}}</td>
            <td>{{data.projectDirector}}</td>
            <td>{{data.status | projectManagementStatus}}</td>
            <td>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modifyModal" ng-click="modify(data)">编辑</button>
                <a href="#" ui-sref="projectManage"><span>进入项目</span></a>
				        <a href="#" ui-sref="projectMember"><span>项目人员分配</span></a>
                <a href="#" ui-sref="projectLog"><span>项目日志管理</span></a>
			      </td>
          </tr>
        </tbody>
      </table>
      <page limit="10" current-page="1" params="queryParams" total="200" data="queryList" page-url="queryUlr"></page>
      <!-- 添加项目 -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">添加项目</h4>
          </div>
              <div class="modal-body">
                <form class="form-horizontal" role="form" name="myForm" novalidate>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目名称：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="项目名称" name="projectName" ng-model="addParams.projectName" ng-maxlength="50" required>

                      <span ng-show="myForm.projectName.$error.maxlength" style="color: red">最多能输入50个字符</span> 
                      <span ng-show="myForm.projectName.$error.required && myForm.projectName.$dirty" style="color: red">该项为必填项</span>
                    </div>
                    <span style="color: red;">*</span>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目编码：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="项目编码" name="projectCode" ng-model="addParams.projectCode" ng-maxlength="20" required>
                      <span ng-show="myForm.projectCode.$error.maxlength" style="color: red;">最多能输入20个字符</span>
                      <span ng-show="myForm.projectCode.$error.required && myForm.projectCode.$dirty" style="color: red;">该项为必填项</span>
                    </div>
                    <span style="color: red;">*</span>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目经理：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="项目经理" name="projectDirector" ng-model="addParams.projectDirector" ng-maxlength="10" required>
                      <span ng-show="myForm.projectDirector.$error.maxlength" style="color: red;">最多能输入10个字符</span>
                      <span ng-show="myForm.projectDirector.$error.required && myForm.projectDirector.$dirty" style="color: red;">该项为必填项</span>
                    </div>
                    <span style="color: red;">*</span>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目状态：</label>
                    <div class="dropdown">
                      <select class="btn btn-default dropdown-toggle btn-sm" style="width: 219px; height: 32px; margin-left: 15px;" ng-model="addParams.status" >
                        <option value="0">计划中</option> 
                        <option value="1">进行中</option> 
                        <option value="2">已结束</option> 
                      </select>
                      <span style="color: red;">*</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">工单编号：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="工单编号" name="orderId" ng-model="addParams.orderId" ng-maxlength="20" required>
                      <span ng-show="myForm.orderId.$error.maxlength" style="color: red;">最多能输入20个字符</span>
                      <span ng-show="myForm.orderId.$error.required && myForm.orderId.$dirty" style="color: red;">该项为必填项</span>
                    </div>
                    <span style="color: red;">*</span>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目描述：</label>
                    <div class="col-sm-5">
                      <textarea cols="40" rows="4" class="form-control" id="inputEmail3" placeholder="项目描述" name="projectDesc" ng-model="addParams.projectDesc" ng-maxlength="50" required></textarea>
                      <span ng-show="myForm.projectDesc.$error.maxlength" style="color: red;">最多能输入50个字符</span>
                      <span ng-show="myForm.projectDesc.$error.required && myForm.projectDesc.$dirty" style="color: red;">该项为必填项</span>
                    </div>
                    <span style="color: red;">*</span>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">开始时间：</label>
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                      <input class="form-control" size="16" type="text" value="" readonly ng-model="addParams.startTime">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          <span style="color: red;">*</span>
                      </div>
                      <input type="hidden" id="dtp_input2" value="" />
                  </div> 
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">结束时间：</label>
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" 
                    data-link-format="yyyy-mm-dd">
                      <input class="form-control" size="16" type="text" value="" readonly ng-model="addParams.endTime">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          <span style="color: red;">*</span>
                      </div>
                      <input type="hidden" id="dtp_input3" value=""/>
                  </div>  
                </form>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-sm" ng-click="add()" data-dismiss="modal" ng-disabled="myForm.$invalid">保存</button>
                  <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="margin-left: 20px;" ng-click="addCancel()">取消</button>
                </div>  
              </div>
        </div>
        </div>
      </div>  

      <!-- 查看项目 -->
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">查看项目基本信息</h4>
          </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-bordered" style="color: black;">
                    <tr>
                      <td>项目名称：</td>
                      <td>{{detailsData.projectName}}</td>
                    </tr>
                    <tr>
                      <td>项目编号：</td>
                      <td>{{detailsData.projectCode}}</td>
                    </tr>
                    <tr>
                      <td>项目经理：</td>
                      <td>{{detailsData.projectDirector}}</td>
                    </tr>
                    <tr>
                      <td>开始时间：</td>
                      <td>{{detailsData.startTime}}</td>
                    </tr>
                    <tr>
                      <td>结束时间：</td>
                      <td>{{detailsData.endTime}}</td>
                    </tr>
                    <tr>
                      <td>项目状态：</td>
                      <td>{{detailsData.status | projectManagementStatus}}</td>
                    </tr>
                    <tr>
                      <td>工单编号：</td>
                      <td>{{detailsData.orderId}}</td>
                    </tr>
                    <tr>
                      <td>项目描述：</td>
                      <td>{{detailsData.projectDesc}}</td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="margin-left: 20px;">返回</button>
                </div>  
              </div>
        </div>
        </div>
      </div> 

      <!-- 编辑项目 --> 
      <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">编辑项目</h4>
          </div>
              <div class="modal-body">
                <form class="form-horizontal" role="form" name="modifyForm" novalidate>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目名称：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="项目名称" name="modifyName" ng-model="modifyData.projectName" ng-maxlength="50" required>
                      <span ng-show="modifyForm.modifyName.$error.maxlength" style="color: red">最多能输入50个字符</span> 
                      <span ng-show="modifyForm.modifyName.$error.required && modifyForm.modifyName.$dirty" style="color: red">该项为必填项</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目编码：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="项目编码" name="modifyCode" ng-model="modifyData.projectCode" ng-maxlength="20" required>
                      <span ng-show="modifyForm.modifyCode.$error.maxlength" style="color: red">最多能输入20个字符</span> 
                      <span ng-show="modifyForm.modifyCode.$error.required && modifyForm.modifyCode.$dirty" style="color: red">该项为必填项</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目经理：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="项目经理" name="modifyDirector" ng-model="modifyData.projectDirector" ng-maxlength="10" required>
                      <span ng-show="modifyForm.modifyDirector.$error.maxlength" style="color: red">最多能输入10个字符</span> 
                      <span ng-show="modifyForm.modifyDirector.$error.required && modifyForm.modifyDirector.$dirty" style="color: red">该项为必填项</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目状态：</label>
                    <div class="dropdown">
                      <select class="btn btn-default dropdown-toggle btn-sm" style="width: 219px; height: 32px; margin-left: 15px;" ng-model="modifyData.status" >
                        <option value="0">计划中</option> 
                        <option value="1">进行中</option> 
                        <option value="2">已结束</option> 
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">工单编号：</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="工单编号" name="modifyOrderId" ng-model="modifyData.orderId" ng-maxlength="20" required>
                      <span ng-show="modifyForm.modifyOrderId.$error.maxlength" style="color: red">最多能输入20个字符</span> 
                      <span ng-show="modifyForm.modifyOrderId.$error.required && modifyForm.modifyOrderId.$dirty" style="color: red">该项为必填项</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">项目描述：</label>
                    <div class="col-sm-5">
                      <textarea cols="40" rows="4" class="form-control" id="inputEmail3" placeholder="项目描述" name="modifyDesc" ng-model="modifyData.projectDesc" ng-maxlength="50" required></textarea>
                      <span ng-show="modifyForm.modifyDesc.$error.maxlength" style="color: red">最多能输入50个字符</span> 
                      <span ng-show="modifyForm.modifyDesc.$error.required && modifyForm.modifyDesc.$dirty" style="color: red">该项为必填项</span>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">开始时间：</label>
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input4" data-link-format="yyyymmdd">
                        <input class="form-control" size="16" type="text" value="" ng-model="modifyData.startTime" readonly >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                      <input type="hidden" id="dtp_input4" value=""/>
                  </div> 
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: 90px; width: 110px;">结束时间：</label>
                      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input5" data-link-format="yyyymmdd">
                      <input class="form-control" size="16" type="text" value="" ng-model="modifyData.endTime" readonly  >
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
                      <input type="hidden" id="dtp_input5" value=""/>
                  </div> 
                </form>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-sm" ng-click="saveModify(modifyData)" data-dismiss="modal" ng-disabled="modifyForm.$invalid">保存</button>
                  <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="modifyCancel()" style="margin-left: 20px;">取消</button>
                </div>  
              </div>
        </div>
        </div>
      </div>  

</div>
<script>
  $('#datetimepicker').datetimepicker('setStartDate', '2012-01-01');
</script>